@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">Welcome To Our New Shop</h1>
    <p class="lead" style="text-align: center">Now Buy and Sell is very easy and comfortable.It's just only one click.</p>
</div>